.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    border-radius: 7px 0 7px 7px;   //add 
    padding: 10px;
    padding-right: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4); // add
    background-color: rgba(0, 0, 0, 0.8);
    top: 90px;
    right: 80px; //main:40px
    z-index: 5;
  
    .cart-items {
      height: 280px;
      display: flex;
      flex-direction: column;
      overflow: auto;       //main:scroll
    }
  
    button {
      margin-top: auto;
    }
  }
  